html {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    min-height: 100%; /* Ensures the html element spans the full height */
    width: 100%;
}

body {
    /* Optional: Add a max-width and margin adjustments for a traditional "boxed" layout */
    max-width: 800px; /* Example width */
    width: 100%;
    margin: 0; /* Resets default body margins */
}

div.articleTable {
    margin-bottom: 5%;
}

table {
    width: 100%;
    border: 1px solid;
}

tr {
    border: 1px solid;
    line-height: 1.5; 
}

td.fastener {
   width: 65%;
}

td.torque-lbft {
   width: 17%;
}

td.torque-kgm {
   width: 18%;
}
