html {
    display: flex;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    margin-top: 4%;
}

body {
    max-width: 800px;
    width: 100%;
    margin: 0;
    /*basic watermark for entire site*/
    background-color: white;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='400' height='400'><text x='10' y='100' font-size='30' fill='rgba(0,0,0,0.05)' transform='rotate(-30 100 100)'>docs.muramoto.us</text></svg>");
    background-repeat: repeat;
}

div.container {
    padding-bottom: 4%;
}

div.section {
    margin-bottom: 5%;
}

table {
    width: 100%;
    border: 1px solid;
}

tr {
    border: 1px solid;
    line-height: 1.5; 
}

td.fastener {
   width: 66%;
   padding-left: 5px;
}

td.torque-lbft {
   width: 17%;
}

td.torque-kgm {
   width: 17%;
}

p.warning {
    margin-top: 3%;
}

img {
    width: 300px;
    border: 4px solid gray;
    border-radius: 8px;
}
